@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@400;700&family=Yeseva+One&display=swap');

:root {
  --pathway-blue: #01224d;
  --pathway-blue-light: #013981;
  --pathway-yellow-light: rgba(255, 244, 141, 0.8);
  --pathway-yellow-dark: #ebcb14;
  --font-family-title: 'Yeseva One';
  --font-family-text: 'Josefin Sans', sans-serif;
  --font-family-faq: 'Montserrat', sans-serif;
  --btn-danger-color: #ff0000;
}

body {
  background: linear-gradient(
    to right,
    var(--pathway-yellow-light),
    var(--pathway-yellow-dark)
  );

  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.background {
  background: linear-gradient(
      to right,
      var(--pathway-yellow-light),
      var(--pathway-yellow-dark)
    ),
    url(https://images.unsplash.com/photo-1573164574472-797cdf4a583a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80)
      no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.pathwayBackground {
  background-color: var(--pathway-blue);
}

.pathwayColor {
  color: var(--pathway-blue);
}

.fontTitle {
  font-family: var(--font-family-title);
}

.fontText {
  font-family: var(--font-family-text);
}

.fontFaq {
  font-family: var(--font-family-faq);
}
.fontFaqItem {
  font-family: var(--font-family-faq);
  font-weight: normal;
}

/* Register Button */
.register {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}
.register:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btn-danger-color);
  border-radius: 10rem;
  z-index: -2;
}
.register:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.register:hover {
  color: var(--pathway-blue);
}
.register:hover:before {
  width: 100%;
}

/* Register Button */

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta .btn-outline-primary:first-child {
  border-color: var(--pathway-blue);
  color: white;
  background-color: var(--pathway-blue);
}

.cta .btn-outline-primary:first-child:hover {
  border-color: var(--pathway-blue);
  color: var(--pathway-blue);
  background-color: transparent;
}

.cta .btn-outline-primary {
  border-color: var(--pathway-blue);
  color: var(--pathway-blue);
  background-color: transparent;
}

.cta .btn-outline-primary:hover {
  border-color: var(--pathway-blue);
  color: white;
  background-color: var(--pathway-blue);
}

.contact a {
  color: var(--pathway-blue);
  font-weight: bold;
}

.about {
  background-color: var(--pathway-blue);
}

@media (min-width: 1024px) {
  .about h5 {
    width: 75%;
    margin: 0 auto;
  }
}

.faqs {
  background-color: var(--pathway-blue);
}

.media-partners {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.media-partners .media-partners--item {
  max-width: 90%;
  min-height: 150px;
  background-color: white;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media-partners .media-partners--item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

.media-partners .media-partners--item img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.media-partners .media-partners--item h6 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .media-partners {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .media-partners .media-partners--item {
    min-width: 65%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 546px) {
  .media-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .media-partners .media-partners--item {
    min-width: 65%;
    margin-bottom: 1.5rem;
  }
}

.hoverShadow {
  transition: box-shadow 0.3s ease-in-out;
}

.hoverShadow:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.aboutText {
  color: #000;
  font-size: 1.5rem;
}

.card-block {
  width: calc(12rem);
  height: calc(12rem);
  margin-bottom: 2rem;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-block:hover {
  transform: translateY(-5px);
}
.card-block-company:hover {
  background-color: var(--pathway-blue);
  color: #fff;
  transition: all 0.4s ease-in-out !important;
}

.card-image {
  height: 6rem;
  width: 6rem;
}

@media screen and (max-width: 768px) {
  .card-block {
    width: calc(95% - 2rem);
    height: 9rem;
    margin-bottom: 1rem;
  }

  .card-image {
    width: 4.5rem;
    height: 4.5rem;
  }
}

/* Icons Colours */
.fab {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-facebook,
.fa-facebook-square {
  color: #3b5998;
}

.fa-linkedin {
  color: #007bb6;
}
.fa-location-dot {
  color: #ff0000;
}
/* Icons Colours */
